appdirs==1.4.3diff-match-patch==20121119dj-database-url==0.4.2dj-static==0.0.6Django==1.10.6djangowkhtmltopdf==3.1.0etxmlfile==1.0.1gunicorn==19.7.1jdcal==1.3mysql-python==1.2.5odfpy==1.3.5olefile==0.44openpyxl==2.5.0b1packaging==16.8Pillow==4.0.0pip==9.0.1psycopg2==2.7.3.2pymysql==0.7.11pyparsing==2.2.0pystache==0.5.4pyyaml==3.12reportlab==3.4.0setuptools==34.3.2six==1.10.0static==1.1.1static3==0.7.0tablib==0.12.1unicodecsv==0.14.1wheel==0.29.0whitenoise==3.3.0xlrd==1.1.0xlwt==1.3.0