{% extends "base_in_admin.html" %}

{% block container %}

<div style="margin-left: auto; margin-right:auto" class="col-md-6 text-center" id="mensaje" >
  
</div>
<div style="border: 2px solid #D3D0D0" class="container col-sm-6 col-md-12 col-lg-6 mt-4">

<form id="new_student" action="{% url 'new_centro_add' %}" method="post">
{% csrf_token %}
<br>
    <h2 class="text-center"> <a href="{% url 'centrosxdepto' %}" class="btn cyan">Ver</a> Registrar Centro</h2>
    <hr>
    <p>Los campos con <span style="color:red">*</span> son requeridos</p>
	<div class="row">
	<div class="col-md-4">

    <div class="md-form">
        <i class="fa fa-graduation-cap prefix grey-text"></i>
        <input type="text" id="centro" name="centro" class="form-control" required="">
        <label for="centro">Nombre del Centro <span style="color:red">*</span></label>
    </div>

    <div class="form-group">
        <i class="fa fa-check-square prefix grey-text"></i>
        <label for="patro">Patrocinador del Centro <span style="color:red">*</span></label>
        <select class="mdb-selec colorful-select dropdown-primary" name="patro" id="patro">
        <option value="" disabled selected>Seleccione</option>
        {% for g in patro %}
            <option value="{{g.id}}"> {{g}} </option>
        {% endfor %}
        </select>
    </div>

     <div class="form-group">
        <i class="fa fa-globe prefix grey-text"></i>
        <label for="zona">Zona <span style="color:red">*</span></label>
        <select class="mdb-selec colorful-select dropdown-primary" name="zona" id="zona">
        <option value="" disabled selected>Seleccione</option>
        {% for g in zona %}
            <option value="{{g.id}}"> {{g.zona}} </option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <i class="fa fa-globe prefix grey-text"></i>
        <label for="muni">Seleccione Municipio <span style="color:red">*</span></label>
        <select class="mdb-selec colorful-select dropdown-primary" name="muni" id="muni">
        <optgroup label="CHOLUTECA">
        {% for m in cholu %}
            <option value="{{m.id}}"> {{m}} </option>
        {% endfor %}
        <optgroup label="VALLE">
        {% for m in valle %}
            <option value="{{m.id}}"> {{m}} </option>
        {% endfor %}
        </select>
    </div>

    </div>

    <div class="col-md-4">

    <div class="form-group">
        <i class="fa fa-money prefix grey-text"></i>
        <label for="patro_recibe">Recibe el facilitador/a algún incentivo o pago para facilitar el grado <span style="color:red">*</span></label>
        <select class="mdb-selec colorful-select dropdown-primary" name="patro_recibe" id="patro_recibe">
        <option value="" disabled selected>Seleccione</option>
        {% for g in des %}
            <option value="{{g.id}}"> {{g}} </option>
        {% endfor %}
        </select>
    </div>
    
    <div class="md-form que">
        <i class="fa fa-question prefix grey-text"></i>
        <input type="text" id="que" name="que" class="form-control">
        <label for="que">Qué recibe</label>
    </div>

    <div class="md-form quien">
        <i class="fa fa-question prefix grey-text"></i>
        <input type="text" id="quien" name="quien" class="form-control">
        <label for="quien">Quien lo proporciona</label>
    </div>

	</div>

    <div class="col-md-4">

        <div class="md-form cuando">
            <i class="fa fa-question prefix grey-text"></i>
            <input type="text" id="cuando" name="cuando" class="form-control">
            <label for="cuando">Cada cuanto</label>
        </div>

        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <label for="promo">Promotor <span style="color:red">*</span></label>
            <select class="mdb-selec colorful-select dropdown-primary" name="promo" id="promo">
            <option value="" disabled selected>Seleccione</option>
            {% for m in des %}
                <option value="{{m.id}}"> {{m}} </option>
            {% endfor %}
            </select>
        </div>

        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <input type="text" id="nombrepromo" name="nombrepromo" class="form-control">
            <label for="nombrepromo">Nombre del Promotor</label>
        </div>

        <div class="md-form">
            <i class="fa fa-graduation-cap prefix grey-text"></i>
            <input type="text" id="donde" name="donde" class="form-control">
            <label for="donde">Donde funciona <span style="color:red">*</span></label>
        </div>
    
        <div class="md-form">
            <i class="fa fa-globe prefix grey-text"></i>
            <input type="text" id="direccion" name="direccion" class="form-control">
            <label for="direccion">Dirección del Centro</label>
        </div>

    </div>

	</div>
	<div class="form-group text-center">
        <input type="submit" class="btn info-color-dark z-depth-2" value="Guardar">
    </div>
    
</form>
</div>


{% endblock container %}

{% block js %}
	<script>
		$(document).ready(function(){
            $('.que').hide()
            $('.quien').hide()
            $('.cuando').hide()
        	$("#numid").mask("9999-9999-99999");
            $("#telefono").mask("9999-9999");

            $('select#patro_recibe').on('change',function(){
                var valor = $(this).val();
                
                if (valor == 1) {
                    $('.que').show()
                    $('.quien').show()
                    $('.cuando').show()
                }else {
                    $('.que').hide()
                    $('.quien').hide()
                    $('.cuando').hide()
                }
            });
        })
	</script>
{% endblock  %}