{% extends "base_in.html" %}

{% block info %}
     
   <br>
	<h2 class="text-center">Historial de matriculas <a href="{% url 'new_enroll' %}" class="btn btn-primary">Nueva matricula</a></h2><img src="/{{MEDIA}}/img/{{ mat.requisito }}" alt=""><a href="http://127.0.0.1:8000/media/img/gobierno.jpg">sf</a>
	<br>

            <table id="example" class="table table-striped table-bordered table-responsive datatable" cellspacing="0" width="100%">
              <thead class="blue lighten-2 text-white">
                <tr>
                  <th>Fecha de Matricula</th>
                  <th>Alumno</th>
                  <th>Grado</th>
                  <th>Facilitador</th>
                  <th>Centro</th>
                  <th>Número Periodo</th>
                  <th>Horario</th>
                  <th>Inicio de Clases</th>
                  <th>Fin de Clases</th>
                  <th>Hoja de requisito</th>
                </tr>
              </thead>
              <tbody> 
                  {% for mat in m %}
                    <tr> 
                    	<td>{{ mat.fecha }}</td> 
	                    <td>{{ mat.persona }}</td>
                      <td>{{ mat.grado.grado }}</td> 
	                    <td>{{ mat.grado.facilitador }}</td> 
	                    <td>{{ mat.centro }}</td> 
	                    <td>{{ mat.num_periodo }}</td> 
	                    <td>{{ mat.horario }}</td> 
	                    <td>{{ mat.inicio_clases }}</td> 
                      <td>{{ mat.fin_clases }}</td> 
	                    <td><a href="/media/{{mat.requisito}}" alt="">ver imágen</a></td> 
                    </tr>
                  {% endfor %}          
              </tbody>
            </table>

{% endblock %}

{% block js %}
    <script>
       $(document).ready(function(){
            $("#fechai").mask("9999/99/99");
            $('#fechai').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
            // $('#horario').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
            $("#fechaf").mask("9999/99/99");
            $('#fechaf').bootstrapMaterialDatePicker({ weekStart : false, time: false });

            $('.button-collapse').sideNav({
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          });
            
        })
    </script>
{% endblock js %}