{% extends "base_in.html" %}

{% block info %}
    <br><h1 class="text-center">Lista de Centros <a href="{% url 'new_centro' %}" class="btn btn-info">Nuevo</a> </h1>
    
    <br>

    <table id="example" class="table table-striped table-bordered table-responsive datatable" cellspacing="0" width="100%">
    	<thead class="blue lighten-2 text-white">
    		<tr>
    			<th>Centro</th>
    			<th>Tipo de Centro</th>
    			<th>Zona</th>
    			<th>Patrocinador</th>
    			<th>Incentivo del Patrocinador</th>
    			<th>Que Recibe</th>
    			<th>Cuando lo recibe</th>
    			<th>Promotor</th>
    			<th>Donde funciona</th>
    			<th>Dirección del Centro</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for d in data %}
    		<tr>
    				<td>{{d.centro}}</td>
    				<td>{{d.tipo_centro.tipo_centro}}</td>
    				<td>{{d.zona.zona}}</td>
    				<td>{{d.patrocinador}}</td>
    				<td>{{d.patro_incentivo}}</td>
    				<td>{{d.patro_recibe}}</td>
    				<td>{{d.cada_cuando}}</td>
    				<td>{{d.promotor}}</td>
    				<td>{{d.donde_funciona}}</td>
    				<td>{{d.direccion}}</td>
    				<td>
    					<div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn btn-info" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones </a>
                                <div class="dropdown-menu dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                    <!--<a id="btn-editar" class="dropdown-item" href="http://127.0.0.1:8000/admin/adminapp/centros/{{d.id}}/change/" target="_blank" data-id="{{ d.id }}" data-centro="{{ d.centro }}" data-tipoc="{{ d.tipo_centro.id }}" data-patrocinador="{{ d.patrocinador.id }}" data-zona="{{ d.zona.id }}" data-patroi="{{ d.patro_incentivo.id }}" data-patror="{{ d.patro_recibe }}" data-cuando="{{ d.cada_cuando }}" data-promotor="{{ d.promotor.id }}" data-donde="{{ d.donde_funciona }}" data-direccion="{{ d.direccion }}" data-toggle="modal" data-target="#edit_centro">Editar</a>-->
                                    <a class="dropdown-item dropdown-danger" href="{% url 'delete_centro' d.id %}">Eliminar</a>
                                </div>
                        </div>
                        <!-- Central Modal Medium Danger -->
                                <div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-notify modal-danger" role="document">
                                        <!--Content-->
                                        <div class="modal-content">
                                            <!--Header-->
                                            <div class="modal-header">
                                                <p class="heading lead">Confirmación para Eliminar</p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true" class="white-text">&times;</span>
                                                </button>
                                            </div>

                                            <!--Body-->
                                            <div class="modal-body">
                                                <div class="text-center">
                                                    <i class="fa fa-times fa-4x mb-3 animated rotateIn"></i>
                                                    <p>¿Seguro que desea eliminar este centro?</p>
                                                </div>
                                            </div>

                                            <!--Footer-->
                                            <div class="modal-footer justify-content-center">
                                                <a type="button"  class="btn btn-primary-modal btn-eliminar" href="{% url 'delete_centro' d.id %}">SI <i class="fa fa-times ml-1"></i></a>
                                                <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">No</a>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!-- Central Modal Medium Danger-->
    				</td>
    		</tr>
    		{% empty %}
                    <h2>No hay centros registrados</h2>
    	{% endfor %}
    	</tbody>
    </table>


<!--Modal: Contact form-->
<div class="modal fade" id="edit_centro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i>Editar Centro</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
            
            	<form action="" method="post">
		        {% csrf_token %}
            	
		                      
					<div class="row">
	<div class="col-md-6">
		                      <input type="hidden" id="idcentroedit" name="id">

    <div class="form-group">
        <i class="fa fa-graduation-cap prefix grey-text"></i>
        <label for="centro">Nombre del Centro</label>
        <input type="text" id="centro" name="centro" class="form-control" required="">
    </div>

     <div class="form-group">
        <i class="fa fa-pencil prefix grey-text"></i>
        <label for="tipoc">Tipo Centro</label>
        <select class="mdb-selec colorful-select dropdown-primary" id="tipoc">
        {% for g in tipoc %}
            <option value="{{g.id}}"> {{g.tipo_centro}} </option>
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <i class="fa fa-check-square prefix grey-text"></i>
        <label for="patro">Patrocinador</label>
        <select class="mdb-selec colorful-select dropdown-primary" id="patro">
        {% for g in patro %}
            <option value="{{g.id}}"> {{g}} </option>
        {% endfor %}
        </select>
    </div>

     <div class="form-group">
        <i class="fa fa-globe prefix grey-text"></i>
        <label for="zona">Zona</label>
        <select class="mdb-selec colorful-select dropdown-primary" id="zona">
        {% for g in zona %}
            <option value="{{g.id}}"> {{g.zona}} </option>
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <i class="fa fa-money prefix grey-text"></i>
        <label for="patro_recibe">Incentivo del Patrocinador</label>
        <select class="mdb-selec colorful-select dropdown-primary" id="patro_recibe">
        {% for g in des %}
            <option value="{{g.id}}"> {{g}} </option>
        {% endfor %}
        </select>
    </div>


    </div>

    <div class="col-md-6">
    <div class="form-group">
        <i class="fa fa-question prefix grey-text"></i>
        <label for="que">Qué recibe el Patrocinador</label>
        <input type="text" id="que" class="form-control">
    </div>

    <div class="form-group">
        <i class="fa fa-question prefix grey-text"></i>
        <label for="cuando">Cada cuando recibe el incentivo</label>
        <input type="text" id="cuando" class="form-control">
    </div>

     <div class="form-group">
        <i class="fa fa-user prefix grey-text"></i>
        <label for="promo">Promotor</label>
        <select class="mdb-selec colorful-select dropdown-primary" id="promo">
        {% for m in promo %}
            <option value="{{m.id}}"> {{m}} </option>
        {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <i class="fa fa-graduation-cap prefix grey-text"></i>
        <label for="donde">Donde funciona el centro</label>
        <input type="text" id="donde" class="form-control">
    </div>
    
    <div class="form-group">
        <i class="fa fa-globe prefix grey-text"></i>
        <label for="direccion">Dirección del Centro</label>
        <input type="text" id="direccion" class="form-control">
    </div>

     
	
	</div>
	</div>

		                <div class="text-center mt-1-half">
		                    <button type="button" class="btn btn-danger btn-3d" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
		          			<button type="submit" class="btn btn-success btn-3d btn-actualizar"><i class="fa fa-check"></i>Actualizar</button>
		                </div>
                	</div>
				</div>
                </form>
            
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->

{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
  	$('.datatable').DataTable();
    $('#btn-editar').click(function(e)
    {
      e.preventDefault();
      var _id = $(this).attr('data-id');
      var _centro = $(this).attr('data-centro');
      var _tipoc = $(this).attr('data-tipoc');
      var _patro = $(this).attr('data-patrocinador');
      var _zona = $(this).attr('data-zona');
      var _patro_recibe = $(this).attr('data-patroi');
      var _que = $(this).attr('data-patror');
      var _cuando = $(this).attr('data-cuando');
      var _promo = $(this).attr('data-promotor');
      var _donde = $(this).attr('data-donde');
      var _direccion = $(this).attr('data-direccion');

      $("#centro").val(_centro);
      $("#tipoc").val(_tipoc);
      $("#patro").val(_patro);
      $("#zona").val(_zona);
      $("#patro_recibe").val(_patro_recibe);
      $("#que").val(_que);
      $("#cuando").val(_cuando);
      $("#promo").val(_promo);
      $("#donde").val(_donde);
      $("#direccion").val(_direccion);
      $("#idcentroedit").val(_id);  

    });

        $('.btn-actualizar').click(function(e){
          var _centro = $('#centro').val()
			var _tipoc = $('#tipoc').val()
			var _patro = $('#patro').val()
			var _zona = $('#zona').val()
			var _patro_recibe = $('#patro_recibe').val()
			var _que = $('#que').val()
			var _cuando = $('#cuando').val()
			var _promo = $('#promo').val()
			var _donde = $('#donde').val()
			var _direccion = $('#direccion').val()
			var _id = $('#idcentroedit').val()
          var csfrm = $('input[name=csrfmiddlewaretoken]').val()
          $.ajax({
            type:'POST',
            url:'/principal/centros/edit/' + _id + '/',
            data:{
	            	id: _id,
	      			centro: _centro,
					tipoc: _tipoc,
					patro: _patro,
					zona: _zona,
					patro_recibe: _patro_recibe,
					que: _que,
					cuando: _cuando,
					promo: _promo,
					donde: _donde,
					direccion: _direccion,
            csrfmiddlewaretoken: csfrm
            },
            success: function(){
              location.reload()
            },
            error: function()
            {
            }

        });
});
});
  $(document).ready(function(){
        	$("#numid").mask("9999-9999-99999");
            $("#telefono").mask("9999-9999");
            $("#fechan").mask("9999/99/99");
            $('#fechan').bootstrapMaterialDatePicker({ weekStart : 0, time: false });

            $('.button-collapse').sideNav({
		        edge: 'left', // Choose the horizontal origin
		        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
		      });
            
        })
  </script>  
{% endblock  %}