{% extends "base_in.html" %}

{% block container %}
    <div class="container">

<div >
    <br><h1 class="text-center">Lista de Alumnos sin Matricular</h1>
    
    <br>
    <div class="table-responsive">
      <input type="hidden" value="{{grado}}" id="grado">
    <table id="excel" class="table table-striped table-bordered table-responsive excel" cellspacing="0" width="100%">
    	<thead class="blue lighten-2 text-white">
    		<tr>
    			<th>Identidad</th>
    			<th>Nombre Completo</th>
    			<th>Domicilio</th>
    			<th>Municipio</th>
    			<th>Telefonos</th>
    			<th>Grupo Etnico</th>
    			<th>Sexo</th>
    			<th>Fecha de Nacimiento</th>
          <th>Edad</th>
    			<th>Trabaja Actualmente</th>
    			<th>Ocupación u Oficio</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for d in data %}
    		<tr>
    				<td>{{d.numid}}</td>
    				<td>{{d.nombre}} {{d.apellido}}</td>
    				<td>{{d.domicilio}}</td>
    				<td>{{d.municipio.municipio}}</td>
    				<td>{{d.telefono}}</td>
    				<td>{{d.grupo_etnico.grupo_etnico}}</td>
    				<td>{{d.sexo.sexo}}</td>
            <td>{{d.fecha_nacimiento}}</td>
    				<td>{{d.edad}}</td>
    				<td>{{d.trabaja}}</td>
    				<td>{{d.ocupacion}}</td>
    				<td><a class="btn btn-info" href="{% url 'matricularxalumno' d.id %}">Matricular</a></td>
    		</tr>
    		{% empty %}
                    <h2>Todos los alumnos están matriculados.</h2>
    	{% endfor %}
    	</tbody>
    </table>
    </div>
</div>

</div>
    
{% endblock container %}
