{% extends "base_in.html" %}

{% block container %}
<div class="container">
  <br>
    <div class="row">
       <div class="card">
          <br><img class="img-fluid" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699229-icon-78-document-error-256.png" style="width:50%; margin-left:auto; margin-right: auto" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title text-center">Alumnos sin Matricular</h4>
              <a href="{% url 'alumnos_sinmat' %}" class="btn btn-info">Ver Alumnos</a>
          </div>
      </div>
  {% for g in grados %}

    <div class="col-md-4">
      <div class="card">
          <br><img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/list-256.png" style="width:50%; margin-left:auto; margin-right: auto" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title text-center">{{g}}</h4>
              <a href="/principal/alumnos/grado/{{g.id}}" class="btn btn-info">Ver Alumnos</a>
          </div>
      </div>
    </div>
    
  {% endfor %}
  </div>
  
</div>
{% endblock container %}