{% extends "base_in.html" %}

{% block container %}
    <div class="container">

<div >
    <br><h1 class="text-center">Lista de Encargados de {{alumno}}</h1>
    
    <br>
    <h4>Tiene {{numu}} encargados registrados, <a class="btn btn-info" href="{% url 'new_familiar' alumno.id %}">¿Desea ingresar uno nuevo?</a></h4>
    <div class="table-responsive">
      <input type="hidden" value="{{grado}}" id="grado">
    <table id="example" class="table table-striped table-bordered table-responsive datatable" cellspacing="0" width="100%">
    	<thead class="blue lighten-2 text-white">
    		<tr>
    			<th>Identidad</th>
    			<th>Nombre Completo</th>
    			<th>Domicilio</th>
    			<th>Municipio</th>
    			<th>Telefonos</th>
    			<th>Sexo</th>
    			<th>Fecha de Nacimiento</th>
          		<th>Edad</th>
    			<th>Trabaja Actualmente</th>
    			<th>Ocupación u Oficio</th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for d in data %}
    		<tr>
    				<td>{{d.numid}}</td>
    				<td>{{d.nombre}} {{d.apellido}}</td>
    				<td>{{d.domicilio}}</td>
    				<td>{{d.municipio.municipio}}</td>
    				<td>{{d.telefono}}</td>
    				<td>{{d.sexo.sexo}}</td>
           	 		<td>{{d.fecha_nacimiento}}</td>
    				<td>{{d.edad}}</td>
    				<td>{{d.trabaja}}</td>
    				<td>{{d.ocupacion}}</td>
    		</tr>
    		
    	{% endfor %}
    	</tbody>
    </table>
    </div>
</div>

</div>
    
{% endblock container %}