{% extends "base_in.html" %}

{% block container %}
    <div class="container">
    <div class="text-center">
  
      <br><h1>Programa EDUCATODOS</h1>
    </div>
        

<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Alumnos</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                <div class="row">
                  <div style="margin-left:200px" class="col-sm-6 col-md-4 col-lg-3 mt-4">
                      <div class="card1">
                          <div class="panel-body text-center">
                                              <h4>
                                                 <span class="fa fa-user fa-4x mb-3 animated rotateIn"></span>
                                                 </h4>
              
                                            </div>
                          <div class="card1-block text-center">
                              <h4 class="card1-title mt-3">Lista de Alumnos</h4>
                          </div>
                          <div class="card1-footer">
                              <a href="{% url 'all_students' %}" class="btn btn-info float-right btn-sm">Ver Más</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                      <div class="card1">
                          <div class="panel-body text-center">
                                              <h4>
                                                 <span class="fa fa-user-plus fa-4x mb-3 animated rotateIn"></span>
                                                 </h4>
              
                                            </div>
                          <div class="card1-block text-center">
                              <h4 class="card1-title mt-3">Registrar Alumno</h4>
                          </div>
                          <div class="card1-footer">
                              <a href="{% url 'new_student' %}" class="btn btn-info float-right btn-sm">Ver Más</a>
                          </div>
                      </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #style="mdb-modal" class="modal fade" id="modalFacilitador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Facilitadores</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                <div class="row">
                  <div style="margin-left:200px" class="col-sm-6 col-md-4 col-lg-3 mt-4">
                      <div class="card1">
                          <div class="panel-body text-center">
                                              <h4>
                                                 <span class="fa fa-user fa-4x mb-3 animated rotateIn"></span>
                                                 </h4>
              
                                            </div>
                          <div class="card1-block text-center">
                              <h4 class="card1-title mt-3">Lista de Facilitadores</h4>
                          </div>
                          <div class="card1-footer">
                              <a href="{% url 'all_facilitador' %}" class="btn btn-info float-right btn-sm">Ver Más</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                      <div class="card1">
                          <div class="panel-body text-center">
                                              <h4>
                                                 <span class="fa fa-user-plus fa-4x mb-3 animated rotateIn"></span>
                                                 </h4>
              
                                            </div>
                          <div class="card1-block text-center">
                              <h4 class="card1-title mt-3">Registrar Nuevo Facilitador</h4>
                          </div>
                          <div class="card1-footer">
                              <a href="{% url 'new_facilitador' %}" class="btn btn-info float-right btn-sm">Ver Más</a>
                          </div>
                      </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #style="mdb-modal" class="modal fade" id="modalGrado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Grados</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                <div class="row">
                  <div style="margin-left:200px" class="col-sm-6 col-md-4 col-lg-3 mt-4">
                      <div class="card1">
                          <div class="panel-body text-center">
                                              <h4>
                                                 <span class="fa fa-user fa-4x mb-3 animated rotateIn"></span>
                                                 </h4>
              
                                            </div>
                          <div class="card1-block text-center">
                              <h4 class="card1-title mt-3">Lista de Grados</h4>
                          </div>
                          <div class="card1-footer">
                              <a href="{% url 'all_grados' %}" class="btn btn-info float-right btn-sm">Ver Más</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                      <div class="card1">
                          <div class="panel-body text-center">
                                              <h4>
                                                 <span class="fa fa-user-plus fa-4x mb-3 animated rotateIn"></span>
                                                 </h4>
              
                                            </div>
                          <div class="card1-block text-center">
                              <h4 class="card1-title mt-3">Aperturar Grado</h4>
                          </div>
                          <div class="card1-footer">
                              <a href="{% url 'new_grado' %}" class="btn btn-info float-right btn-sm">Ver Más</a>
                          </div>
                      </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="http://www.educacionyculturaaz.com/wp-content/uploads/2016/01/alfabetizacion.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Alumnos</h4>
                        <button data-toggle="modal" data-target="#centralModalSuccess" class="btn btn-info">Ver Más</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card">
                    <img class="img-fluid" src="http://www.agendatlaxcala.com/archivos/image/Archivo%202015/EDUCACION/ITEA/1108%20alfabetizacion.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Facilitadores</h4>
                        <button data-toggle="modal" data-target="#modalFacilitador" class="btn btn-info">Ver Más</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card">
                    <img class="img-fluid" src="http://blog.maestrotvsnte.mx/wp-content/uploads/2017/06/80704174.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Grados</h4>
                        <a href="{% url 'all_grados' %}" class="btn btn-info">Ver Más</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card">
                    <img class="img-fluid" src="https://us.123rf.com/450wm/tigatelu/tigatelu1510/tigatelu151000144/45971052-illustration-of-cartoon-school-building-isolated-with-green-yard.jpg?ver=6" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Centros</h4>
                        <a href="{% url 'all_centros' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="https://i2.wp.com/4.bp.blogspot.com/-KqRUdXcXnTM/UWUOS6_s5yI/AAAAAAAABeE/p8UIm1l7uF4/s1600/matricula-cole.png?resize=314%2C172" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Matricular</h4>
                        <a class="btn btn-primary" href="{% url 'all_enroll' %}">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card">
                    <img class="img-fluid" src="http://blog.corponet.com.mx/hubfs/beneficios_de_los_reportes_y_analisis_en_tu_empresa_en_crecimiento.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Reportes</h4>
                        <a href="{% url 'all_reports' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
{% endblock container %}