{% extends "base_in.html" %}

{% block info %}


<div class="container" align="center">
<br>
	<div class="col-md-3"></div>
		<div style="border: 2px solid #D3D0D0" class="col-sm-6 col-md-12 col-lg-12 mt-4">
	<h1>Matricular <a href="{% url 'all_enroll' %}" class="btn info-color-dark">Ver</a></h1>
	
			<form action="/principal/enroll/new/add/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
				<div class="form-group">
					<h5 for="alumno">Alumno</h5>
					<select name="alumno[]" style="width:100%" id="alumno" class="js-example-basic-multiples selectpicker" multiple="multiple" required>
						<option value="" disabled selected>Seleccione</option>
					  {% for a in alumnos %}
							<option value="{{ a.id }}">{{ a }}</option>
						{% endfor %}
					</select>
					
				</div>
				<div class="form-group">
					<h5 for="grado">Grados ofertados</h5>
						<select name="grado" id="grado" class="mdb-selec colorful-select dropdown-primary" required>
							<option value="" disabled selected>Seleccione</option>
  							{% for g in grado %}
							<option value="{{ g.id }}">{{ g.grado }}</option>
						{% endfor %}
						</select>
				</div>
				<div class="form-group">
			        <h5 for="centro">Centro</h5>
			        <select name="centro" class="mdb-selec colorful-select dropdown-primary" id="centro">
			        <option value="" disabled selected>Seleccione</option>
			        {% for g in centro %}
			            <option value="{{g.id}}"> {{g.centro}} </option>
			        {% endfor %}
			        </select>
			    </div>
				<div class="form-group">
					<h5 for="primer">Número de Periodo</h5>
						<select name="primer" id="primer" class="mdb-selec colorful-select dropdown-primary" required>
						<option value="" disabled selected>Seleccione</option>
  							{% for p in periodo %}
							<option value="{{ p.id }}">{{ p }}</option>
						{% endfor %}
						</select>
				</div>
				</div>
				<div class="col-md-6">
				<!--<div class="file-field">
	                <h5>Subir Archivo</h5>
	                <div class="btn btn-primary btn-sm">
	                    <span>Elegir Archivos</span>
	                    <input id="archivos" name="archivos" type="file">
	                </div>
	                <div class="file-path-wrapper">
	                    <input class="file-path validate" type="text" placeholder="Sube los archivos necesarios">
	                </div>
	            </div>-->
				<div class="form-group">
			        <h5 for="horario">Horario</h5>
			        <input type="text" id="horario" name="horario" class="form-control">
			    </div>
			    <div class="form-group">
			        <h5 for="fechai">Inicio de Clases</h5>
			        <input type="text" id="fechai" name="fechai" class="form-control">
			    </div>
			    <div class="form-group">
			        <h5 for="fechaf">Fin de Clases</h5>
			        <input type="text" id="fechaf" name="fechaf" class="form-control">
			    </div>
			    </div>
			    </div>
				<div class="form-group">
					<input type="submit" value="Realizar matricula" class="btn info-color-dark">
				</div>
			</form>
		</div>
	
	</div>	
	
{% endblock %}

{% block js %}
    <script>
    	 $(document).ready(function(){
            $("#fechai").mask("9999/99/99");
            $('#fechai').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
            // $('#horario').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
            $("#fechaf").mask("9999/99/99");
            $('#fechaf').bootstrapMaterialDatePicker({ weekStart : false, time: false });

            $('.button-collapse').sideNav({
		        edge: 'left', // Choose the horizontal origin
		        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
		      });
            $('#alumno').select2({
				  placeholder: 'Escriba el nombre del alumno'
				});
            
        })
    </script>
{% endblock js %}